#navbar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid grey;
  padding-right: 2px;
  min-width: fit-content;
}

#navbar a,
#navbar header {
  text-decoration: none;
  color: inherit;
  padding: 0.5em 0;
  border-bottom: 1px solid grey;
}
#navbar header,
.main-section header {
  font-size: 1.2rem;
  font-weight: bold;
}
article {
  padding: 1em;
}
.main-section {
  margin-top: 1.5em;
}
.main-section p {
  margin-left: 1em;
}
.main-section li {
  margin-left: 2.5em;
}
@media screen and (min-width: 400px) {
  #main-doc {
    display: flex;
  }
}
